<?xml version="1.0" encoding="UTF-8" ?>
<!--
  #%L
  Rocky Music Core
  %%
  Copyright (C) 1996 - 2013 Rockhopper Technologies
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
       http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->


<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		<!--  
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			-->
			<pattern>%.-1level|%-40.40logger{0}|%-4.4line|%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>muxi .log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.dir}/logs/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.dir}/logs/app.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%.-1level|%-40.40logger{0}|%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.rockhoppertech" level="DEBUG" />
	<logger name="org.springframework" level="DEBUG" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
<!-- 		<appender-ref ref="RollingFile" /> -->
	</root>

</configuration>